@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Quicksand&family=Space+Mono&family=Work+Sans:wght@400;500;800&display=swap');


/* Zero out the browser */
HTML, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/* css variables */
:root {
	--primaryColor:#CCCCFF;
	--supportingColor: #CBA1E1;
	--attentionColor: #4A1C94;
	--shadowColor: #B4B2D1;
	--whiteColor: #E6E6FA;
}

/* intial index state needs to be set */
#registerContainer, #loginLink{
	display: none;
	
}

/* Universal Styles*/
header {
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
	width: 100%;
	background-color: var(--attentionColor);
	color: var(--attentionColor);
  
}

 #indexHeader {
	justify-content: right;
}

header p {
	margin-right: 20px;
	padding: 5px 7px;
	border-radius: 15px;
	background-color: var(--whiteColor);
	text-decoration: underline var(--primaryColor);
}

article {
	display: flex;
	justify-content: center;
}


footer {
/* 	ensure the footer sits on bottom of page */
	position: absolute;
	bottom: 0px;
	width: 100%;
/*  give the empty footer some space to show it strech across full width of the page */
	
}

#footerDiv{ 
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 1px;
	background-color: var(--attentionColor);
	color: var(--supportingColor);
}

/* Index.html Styles  */
#loginContainer, #registerContainer, #userFormContainer, #reimbursementFormContainer {
	border: 2px solid var(--primaryColor);
	border-radius: 15px;
	box-shadow: 5px 3px var(--shadowColor);
	margin-top: 50px;
	padding: 10px;
}

.formTitle {
	display: flex;
	justify-content: center;
	text-decoration: underline var(--primaryColor); 
}

.registrationField label, #reimbursementFormContainer label, #userFormContainer label {
	display: inline-block;
	width: 100px;
}

.registrationField input, .registrationField select, #userFormContainer input, #userFormContainer select, #reimbursementFormContainer input, #reimbursementFormContainer select {
	width: 150px;
}



/* Home.html Styles */

#returnHome{
  display: flex;
  justify-content: space-between;
   
}

#homeArticle {
	margin: auto;
	width: 75%;
	flex-direction: column;
}

#tableControls{
	margin: 25px 0;
	display: flex;
	justify-content: space-around;
}

#tableControls button {
	width: 150px;
	border-radius: 25px;
}
#tableControls button:hover, #tableControls button:active {
	
}

#table-container {
	margin-top: 35px;
	border-radius: 15px;
	border: 2px solid #CCCCFF;
	box-shadow: 5px 3px var(--shadowColor);
  
	
}

.styled-table {
    font-size: 0.9em;
    font-family: quicksand, sans-serif;
    min-width: 400px;
    
    
}

/* nth-child(#) gets one element at the specified index (1 begin the first) */
.styled-table th:nth-child(1) {
	border-radius: 15px 0 0 0;
 
}

/* nth-last-child(#) gets one element at the specified index (1 begin the last)  (counts down)*/
.styled-table th:nth-last-child(1) {
	border-radius: 0 15px 0 0;
}

.styled-table thead tr {
    background-color: #CCCCFF;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
  
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #4A1C94;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #CBA1E1;
}
/* media query */
/* @media screen and (max-width: 480px) {

} */
